* {
    font-family: Arial, sans-serif;
    margin: center;
    padding: center;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(210, 210, 210);
}

.ira {
    width: 420px;
    background: rgb(61, 20, 114);
    color: aliceblue;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
}

.ira h1{
    font-size: 36px;
    text-align: center;
}

.ira .inputbox{
    width: 100%;
    height: 40px;
    margin: 25px 0;
    justify-content: center;
    align-items: center;
}

.inputbox input {
    width: 90%;
    height: 30px;
    padding: 9px;
    background: white;
    color: black;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
    outline: none;
}

.ira .inputbox .a{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    display: block;
}

.ira .choose .b{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    display: block;
}

button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    width: 90%;  
    height: 38px;
    padding: 10px; 
    font-size: 16px; 
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
