* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #470711;
    color: white;
    text-align: center;
    padding: 20px;
}

header nav {
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
}

header nav ul li a.active {
    color: rgb(0, 0, 0);
    background-color: #fdfdfd;
    border-radius: 10px;
    padding: 10px 20px;
}

header nav ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: #fdfdfd;
    border-radius: 10px;
    padding: 10px 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.content {
    flex: 2;
    padding: 20px;
    background-color: #ECF0F1;
    border-radius: 10px;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #BDC3C7;
    border-radius: 10px;
    margin-left: 20px;
}

footer { 
    text-align: center;
    padding: 10px;
    background-color: #2C3E50;
    color: white;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #db343f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn:hover {
    background-color: #326486;
    transform: scale(1.1);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        margin-left: 0;
        margin-top: 20px;
    }
}